atomicwrites==1.2.1
attrs==18.2.0
Click==7.0
cycler==0.10.0
decorator==4.3.0
graphviz==0.10.1
kiwisolver==1.0.1
matplotlib==3.0.2
more-itertools==4.3.0
networkx==2.2
numpy==1.15.4
pluggy==0.8.0
py==1.7.0
pygraphviz==1.5
pyparsing==2.3.0
pytest==4.0.1
python-dateutil==2.7.5
six==1.11.0
